<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED"> <!-- connection pool -->
        <property name="driver" value="oracle.jdbc.OracleDrivet"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="GD"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/gdu/prj/dao/board_t.xml"/> <!-- 확장자가 달라도 둘다 같은 파일을 가리킴. -->
  </mappers>
  
</configuration>